default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: 1
      polling_interval: 0.1

development:
  <<: *default
  workers:
    - queues: [ default, mailers ]
      threads: 3
      polling_interval: 0.1
    - queues: [ analytics ]
      threads: 2
      polling_interval: 1

test:
  <<: *default
  workers:
    - queues: "*"
      threads: 1
      processes: 1
      polling_interval: 0.1

production:
  <<: *default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
    - polling_interval: 5
      batch_size: 500
  workers:
    - queues: [ default, mailers ]
      threads: 5
      processes: 2
      polling_interval: 0.1
    - queues: [ analytics ]
      threads: 3
      processes: 1
      polling_interval: 1
      max_threads: 5